Debug-x64
Release-x64
Debug-x86
Release-x86
*.pyc
historyfile
*.ncb
*.user
*.sln
*.pch
*.suo
*.old
installer/DSP_installer/Win/*.exe
installer/Statespack_1/Win/*.exe
installer/Statespack_2/Win/*.exe
*.zip
csoundCommandline.py
*DS_Store
*/DS_Store
*.mode1v3
*.pbxuser
*.jBridge
*.sdf
